body{
  background: -webkit-linear-gradient(#446CB3, #22A7F0);
}

.logo{
  text-align: center;
}

.module{
  width: 800px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerbox .logo{
  width: 50%;
  height: auto;
}

#picture{
  display: inline-block;
  vertical-align: top;
}


.innerbox {   
  display: inline-block;
 background-color: white;
 border-radius: 10px;
 width: 30vw;
 height: 30vw;
 -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);  
 -moz-box-shadow:    0px 0px 10px 5px rgba(0, 0, 0, 0.4);
 box-shadow:         0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.form-group{
  width: 80%;
  margin-left: 10%;
}

.form-group1{
  display: flex;
  width: 80%;
  margin-bottom: 2em;
  margin-left: 10%;
}

.form-control{
  border: none;
  border-bottom: 1.5px solid #446CB3;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
}

/* Button */
.btn-block{
  width : 50%;
  margin: auto;
  border: 0;
  font-size: 0.75rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: #446CB3;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}