body{
  background: -webkit-linear-gradient(#446CB3, #22A7F0);
}

@media (min-width: 500px) {
  body {
    width:50%;
  }
}

img{
  max-width: 100%;
}

.logo{
  text-align: center;
}

.module{
  width: 800px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerbox .logo{
  width: 40%;
  height: auto;
  margin: auto;
}

#picture{
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-device-width: 480px) {
  #picture { 
    display:none;
  }
}


.innerbox { 
vertical-align: bottom;  
display: inline-block;
min-width: 500px;
min-height: 400px;
 background-color: white;
 border-radius: 10px;
 width: 30vw;
 height: 30vw;
 -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);  
 -moz-box-shadow:    0px 0px 10px 5px rgba(0, 0, 0, 0.4);
 box-shadow:         0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.form-group{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1em;
}

#exampleInputName{
  margin-bottom: 1em;
}

.form-group1{
  display: flex;
  width: 80%;
  margin-bottom: 2em;
  margin-left: 10%;
}

.form-control{
  border: none;
  border-bottom: 1.5px solid #446CB3;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
}

/* Button */
.btn-block{
  position: responsive;
  width : 50%;
  margin: auto;
  border: 0;
  font-size: 1.25rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1.5rem;
  color: white;
  background: #446CB3;
  text-transform: uppercase;
  border-radius: .25rem;
  letter-spacing: .2em;
  transition: background .2s;
}

.message{
  margin: 2em;
}

hr.style17 {
  border-top: 1px solid #8c8b8b;
  text-align: center;
  width: 80%;
}
hr.style17:after {
  content: 'or';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: white;
  color: #8c8b8b;
  font-size: 18px;
}
